#php_value display_errors on
#php_value error_reporting E_ALL

SetEnvIfNoCase User-Agent "Yandex" search_bot
SetEnvIfNoCase User-Agent "Yahoo" search_bot
SetEnvIfNoCase User-Agent "igdeSpyder" search_bot
SetEnvIfNoCase User-Agent "Robot" search_bot
SetEnvIfNoCase User-Agent "Bing" search_bot
SetEnvIfNoCase User-Agent "Webalta" search_bot
SetEnvIfNoCase User-Agent "Googlebot" search_bot
SetEnvIfNoCase User-Agent "msnbot" search_bot
SetEnvIfNoCase User-Agent "Aport" search_bot
SetEnvIfNoCase User-Agent "Mail" search_bot
SetEnvIfNoCase User-Agent "Rambler" search_bot
#SetEnvIfNoCase User-Agent "bot" search_bot
#SetEnvIfNoCase User-Agent "spider" search_bot
#SetEnvIfNoCase User-Agent "php" search_bot
#SetEnvIfNoCase User-Agent "Parser" search_bot

<Limit GET POST HEAD>
Order Allow,Deny
Allow from all
Deny from env=search_bot
</Limit>



# 1.To use URL Alias you need to be running apache with mod_rewrite enabled. 

# 2. In your directory rename htaccess.txt to .htaccess.

# For any support issues please visit: http://www.italy-sumochka.ru



 
Options +FollowSymlinks

# Prevent Directoy listing 
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "\.(tpl|ini|log)">
 Order deny,allow
 Deny from all
</FilesMatch>


# SEO URL Settings
RewriteEngine On
# If your installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/ 
# Ðåäèðåêò c www íà áåç www 
	RewriteCond %{HTTP_HOST} ^www.italy-sumochka.ru 
	RewriteRule ^(.*)$ http://italy-sumochka.ru/$1 [R=301,L] 
	# Ðåäèðåêò äëÿ ãëàâíîé (ñ /index.php íà /) 
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\ HTTP/ 
	RewriteRule ^index\.html$ / [R=301,L] 
	RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /index\.php\ HTTP/ 
	RewriteRule ^index\.php$ / [R=301,L]
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /checkout\/\ HTTP/
RewriteRule ^index\.php$ /index.php?route=checkout/simplecheckout [R=301,L]


#RewriteRule sitemap.xml  /index.php?route=record/google_sitemap_blog
RewriteRule google_sitemap  /index.php?route=record/google_sitemap_blog

RewriteBase /
#RewriteRule ^sitemap.xml$  index.php?route=record/google_sitemap_blog [L]
RewriteRule ^googlebase.xml$ index.php?route=feed/google_base [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]
RewriteRule ^(([^/]+/)*[^.]+)$ /$1.php [L]

RewriteBase /
 


### Additional Settings that may need to be enabled for some servers 
### Uncomment the commands by removing the # sign in front of it.
### If you get an "Internal Server Error 500" after enabling any of the following settings, restore the # as this means your host doesn't allow that.

# 1. If your cart only allows you to add one item at a time, it is possible register_globals is on. This may work to disable it:
# php_flag register_globals off

# 2. If your cart has magic quotes enabled, This may work to disable it:
# php_flag magic_quotes_gpc Off

# 3. Set max upload file size. Most hosts will limit this and not allow it to be overridden but you can try
# php_value upload_max_filesize 999M

# 4. set max post size. uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value post_max_size 999M
# 5. set max time script can take. uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value max_execution_time 200

# 6. set max time for input to be recieved. Uncomment this line if you have a lot of product options or are getting errors where forms are not saving all fields
# php_value max_input_time 200

# 7. disable open_basedir limitations
# php_admin_value open_basedir none
AddDefaultCharset utf-8
AddType 'text/html; charset=utf-8' .html .htm .shtml
