h3{
    text-align: center;
    color: #1b1b1b;
    font-family: "BodoniItalic";
    font-size: 36px;
    font-weight: 400;
    margin-top: 40px;
}

#content {
    width: 1220px;
    margin: auto;
}

.alphabet{
    color: #777;
    font-size: 12px;
    margin-top: 40px;
    letter-spacing: 1px;
    font-family: "OpenSans";
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

.alphabet a:link, .alphabet a:visited{
    color: #777;
    font-size: 14px;
    padding: 10px 15px;
}

.alphabet a:hover{
    background-color: #c49849;
    color: white !important;
    border-radius: 50%;
}

.category-name{
    color: #1b1b1b;
    font-family: "BodoniItalic";
    font-size: 72px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 20px;
}

.category-divider{
    height: 1px;
    border: 1px solid #1b1b1b;
    width: 100%;
}

.category-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 5px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.category-aria{
    text-align: center;
    width: 100px;
    margin: auto;
}

.category-aria a:link, .category-aria a:visited{
    color: #777;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
}

.category-aria a:hover img{
    -webkit-filter: grayscale(0%); /* Chrome, Safari, Opera */
    filter: grayscale(0%);
}

.category-aria a:hover{
    color: #1b1b1b !important;
}

.category-col{
    margin-top: 25px;
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    float: left;
    width: 175px;
    text-align: center;
}

.category-col:nth-child(7n-6){
    clear: both;
}



@media all and (max-width: 1279px){
    h3{
        font-size: 32px;
    }

    #content {
        width: 750px;
    }

    .alphabet .col-md-2{
        width: 200px;
        padding-right: 0;
    }

    .alphabet .col-md-10{
        width: 630px;
    }

    .category-col:nth-child(5n-4){
        clear: both;
    }

    .category-col:nth-child(7n-6){
        clear: none;
    }

    .category-col{
        width: 150px;
    }



}

@media all and (max-width: 767px) {
    h3{
        font-size: 24px;
    }

    .alphabet{
        margin-top: 0;
    }

    .alphabet .col-md-10{
        width: auto;
    }

    .alphabet .col-xs-12{
        margin: auto;
        width: 100%;
    }

    .alphabet .col-xs-12:first-child{
        margin-bottom: 5px;
        text-align: center;
    }

    #content {
        width: 100%;
        margin: auto;
        padding-right: 0;
    }

    .category-divider{
        width: 95%;
        margin: auto;
    }

    .category-name{
        font-size: 48px;
    }

    .category-image{
        width: 73px;
        height: 73px;
    }

    .category-aria{
        width: 73px;
    }

    .category-col{
        width: 100px;
    }

    .category-row{
        padding-left: 25px;
    }







}




