#shadow>section>.container>.row>.col-sm-9{
    padding: 0;
}

#shadow>section{
    max-width: 1240px;
    margin: auto;
}

#shadow>section>.container{
    margin: 0;
    padding: 0;
    width: 100%;
}

#shadow>section>.container>.row{
    margin: 0;
    background-color: rgb(244, 244, 244);
}

body{
    background-color: rgb(244, 244, 244);
}

.content-bottom{
    margin-top: -50px;
}


.breadcrumb {
    margin: 0 0 32px 23px;
    padding: 15px 0 5px;
    background-color: rgb(244, 244, 244);
    border: 0;
    width: 900px;
    display: flex;
    white-space: nowrap;
}

.breadcrumb >li:last-child{
    overflow: hidden;
    text-overflow: ellipsis;
}

.breadcrumb i {
    font-size: 15px;
}
.breadcrumb > li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px 0 0;
    position: relative;
    white-space: nowrap;
    color: #777;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.breadcrumb > li > a{
    color: #777;
    font-size: 12px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    top: 1px;
}

.product-section .fa-star:before{
    content: "\f005"!important;
}

.lightStar{
    color: rgb(204, 204, 204);
}

.product-section .fa-stack{
    width: 11px;
    color: rgb(119, 119, 119);
}

.product-section .fa:not(.cartIcon) {
    font-size: 14px;
    margin-bottom: 7px !important;
}

.breadcrumb > li > span{
    position: relative;
    top: 1px;
}

.breadcrumb > li:after{
    content: '>';
    display: block;
    position: absolute;
    top: 1px;
    right: -15px;
    color: #777;
    border: none;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.breadcrumb > li:last-child:after{
    content: '';
}

.breadcrumb > li + li:before {
    content: '';
    padding: 0;
}
.pagination {
    margin: 0;
}
.breadcrumb > li:after{
    width: 26px;
}

#content11 p{
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 20px;
}

#content11 h4{
    color: #1b1b1b;
    font-weight: 600;
    font-family: "OpenSans";
    font-size: 14px;
    line-height: 20px;
}

#content11 ul {
    list-style: none;
    padding:0;
    margin:0;
}

#content11 li {
    padding-left: 1em;
    text-indent: -.7em;
}

#content11 li:before {
    content: "\2022";
    color: #c49849;
    font-size: 30px;
    bottom: -6px;
}

section#content11, section#content22, section#content33{
    padding-top: 40px !important;
}

.product-info>.row{
    margin:0;
    font-size: 12px;
    font-weight: 600;
    color: rgb(119, 119, 119)!important;
    line-height: 1.5 !important;
    text-align: left;
    margin-bottom: 25px;
}

.product-info>.row>.col-sm-4{
    padding-left: 23px;
    padding-right: 0;
}

.product-info>.row>.col-sm-8{
    padding-left: 0px;
    padding-right: 40px;

}

.product-info>.row>.col-sm-8>h2{
    margin-top: 0;
    margin-bottom: 24px;
    text-align: left;
    margin-left: 44px;
    font-size: 30px;
}

.price-new{
    width: 100%;
    padding-right: 40px;
}

.description>.row{
    margin: 0;
}

.description>.row>.col-sm-6{
    padding: 0 0 0 44px;
}

.description .col-sm-6{
    width: 50%;
}

.description>.row>.col-sm-6 a:link{
    color: rgb(182, 128, 32);
    text-transform: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
}

.plusminus{
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    border: none;
}

.buttonPlus{
    background-image: url(../image/+.png);
}

.buttonMinus{
    background-image: url(../image/-.png);
}

.plusminus:hover{
    background-image: url(../image/-Active.png);
}

.buttonPlus:hover{
    background-image: url(../image/+Active.png);
}

button:focus{
    outline: none !important;
}

#input-quantity{
    width: 43px;
    padding: 0;
    position: relative;
    bottom: 14px;
    display: inline-block;
    cursor: auto;
    border: 0;
    color: black;
    background-color: rgb(244, 244, 244);
    box-shadow: none;
    font-size: 18px;
    font-family: "OpenSans";
    color: rgb(27, 27, 27);
    line-height: 1;
    text-align: center;
}

.productCartButton{
    height: 50px;
    width: 261px;
    border-radius: 25px;
    border: solid 2px rgb(27, 27, 27);
    background-image: none;
    background-color: rgb(244, 244, 244) !important;
    color: rgb(27, 27, 27);
    font-size: 14px;
    font-family: "OpenSans";
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.286;
    text-align: center;
    text-shadow: none;
    box-shadow: none;
    margin-right: 40px;
    letter-spacing: 1px;
}

.productInCartButton{
    height: 50px;
    border-radius: 25px;
    border: solid 2px rgb(196, 152, 73);
    background-image: none;
    background-color: rgb(196, 152, 73) !important;
    color: rgb(255, 255, 255) !important;
    font-size: 14px;
    font-family: "OpenSans";
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.286;
    text-align: center;
    text-shadow: none;
    box-shadow: none;
    margin-right: 40px;
}

#button-cart:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(27, 27, 27) !important;
    border-color: rgb(27, 27, 27);
}

#button-cart:focus{
    outline: none !important;
}

.cartIconProduct{
    left: -15px !important;
    top: -12px !important;
    background-repeat: no-repeat;
}

.productCartButton>span:nth-child(2){
    position: relative;
    bottom: 19px;
}

.price-new>.form-group{
    margin-top: -15px;
}

.description>.row>.col-sm-6:last-child{
    padding-left: 0;
}

.tagsPlaza{
    margin-left: 43px;
    line-height: 0;
}

.tagsPlaza a:link{
    color: rgb(182, 128, 32);
    text-decoration: underline;
    font-weight: 300;
    font-size: 12px;
}

.reviewDate{
    color: rgb(196, 152, 73);
    margin-right: 11px;
    font-weight: bold;
    font-size: 14px;
}

iframe{
    margin-top: 30px;
}

.tab-content input[type="text"]{
     display: block;
 }

.tab-content input[type="radio"]{
    display: inline-block;
}

.tab-content label{
    border:0;
    cursor: default;
}

.product-panel-group{
    display: none;
}

#form-review .row{
    margin: 0;
}

#form-review{
    margin-top: 32px;
    margin-bottom: 32px;
    margin: 0 auto;
    max-width: 880px;
}

#form-review .col-sm-6{
    width: 50%;
    padding: 0;
}

#form-review .col-sm-12{
    padding: 0;
}

#form-review .col-sm-12 textarea{
    border-radius: 0;
    border: 0;
    outline: 0 !important;
    box-shadow: none !important;

}

#form-review .col-sm-6:first-child{
    padding-right: 9px;
}

#form-review input{
   border: 0;
    outline: 0 !important;
   box-shadow: none !important;
    padding-left: 20px;
    height: 40px;
}

#form-review h2{
    margin-bottom: 0;
    text-align: left;
    font-size: 30px;
    margin-top: 30px;
}

.callBackSend{
    position: relative;
    top: 10px;
    display: inherit;
    margin: 0 auto;
    height: 50px;
    width: 260px;
    border: 2px solid #c49849;
    background-color: rgb(244, 244, 244);
    border-radius: 25px;
    color: #c49849;
    text-align: center !important;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.286;
    margin-bottom: 80px;
    float: left;
    letter-spacing: 1px;
}

.callBackSend:focus{
    outline: none !important;
}

.callBackSend:hover{
    background-color: #c49849;
    color: white;
}

.colorRed{
    color: rgb(142, 0, 0);
}

#form-review label{
    padding-top: 15px;
    margin-bottom: 16px;
    font-size: 12px;
    color: rgb(119, 119, 119);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

#form-review input[type="radio"]{
    display: none;
}

#form-review .fa-stack{
    margin-top: 4px;
    margin-right: 2px;
}

#form-review .fa-stack:first-child{
    margin-left: 18px;
}

.textInCart{
    position: relative;
    bottom: 18px;
}

#review .content{
    margin-bottom: 25px;
}

#column-left{
    padding: 0;
    position: relative;
}

#shadow>section>.container>.row>.col-sm-9{
    position: relative;
}

.featured-title h2, .featured-title .divider{
    display: none;
}

section{
    padding-top: 65px !important;
}

.necessaryFields{
    font-weight: 400;
}

.mobileHeader{
    display: none;
}

.product-info .description .product-section .prod-stock span{
    letter-spacing: 0px;
}

@media all and (max-width: 1279px) {

    section {
        padding-top: 145px !important;
    }

    #content{
        padding-left: 25px !important;
    }

    .breadcrumb{
        margin-left: 0;
        max-width: 780px;
        width: auto;
    }

    .product-info>.row>.col-sm-4{
        padding-left: 0;
    }

    #default_gallery .image,
    #default_gallery .image .zoomWrapper,
    #default_gallery .image .zoomWrapper img{
        height: 175px;
        width: 175px;
        min-height: 175px;
        max-height: 175px;
    }

    .product-info>.row>.col-sm-8>h2{
        font-size: 28px;
        margin-left: 20px;
    }

    .description>.row>.col-sm-6{
        padding-left: 20px;
    }

    .product-info .price-new{
        font-size: 24px;
        padding-right: 0;
    }

    .product-info>.row>.col-sm-8{
        position: relative;
        padding-bottom: 50px;
    }

    .description>.row>.col-sm-6{
        position: static;
    }

    .productCartButton{
        width: 209px;
        height: 40px;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 20px;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .product-info>.row{
        margin-bottom: 60px;
    }

    .tabs section{
        padding: 25px;
    }

    .tabs section{
        padding-top: 25px !important;
    }

    #form-review h2{
        font-size: 28px;
    }

    .product-info{
        padding-right: 5px;
    }

    #form-review .fa-stack{
        margin-right: -10px;
    }

    .productRateLabel{
        margin-right: 10px;
    }

    .necessaryFields{
        margin-top: 15px;
    }

    .callBackSend{
        width: 209px;
        height: 40px;
        font-size: 12px;
        margin-top: -20px;
    }


}

@media all and (max-width: 767px) {

    section{
        padding-top: 0 !important;
    }

    .breadcrumb{
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0;
    }

    .breadcrumb > li, .breadcrumb > li > a{
        color: #b68020;
        font-size: 14px;
        font-weight: 600;
        text-decoration: underline;
        text-transform: none;
        white-space: normal;
    }

    .breadcrumb > li:after{
        color: #b68020;
    }

    #content{
        padding-left: 5px !important;
    }

    .mobileHeader{
        display: block;
        font-size: 24px;
        font-weight: 400;
        margin-top: 0;
    }

    .product-info .col-sm-8 h2.myHeader{
        display: none;
    }

    #default_gallery .image,
    #default_gallery .image .zoomWrapper,
    #default_gallery .image .zoomWrapper img{
        height: 258px;
        width: 258px;
        min-height: 258px;
        max-height: 258px;
    }

    .product-info .image-additional{
        margin: auto;
    }

    .product-info .image{
        float: none;
        margin: auto;
    }

    .description>.row>.col-sm-6{
        width: 100% !important;
    }

    .product-info .product-section .rating{
        text-align: center;
        padding-bottom: 100px;
    }

    .price-new .opprice{
        position: absolute;
        top: 30px;
        font-weight: 700;
        left: 50%;
        transform: translateX(-50%);
    }

    .price-new .quantity{
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
    }

    .productCartButton{
        margin: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .product-info>.row>.col-sm-8{
        padding-bottom: 20px;
    }

    #form-review h2{
        font-size: 24px;
        text-align: center;
    }

    #form-review .tab-content  .row .col-sm-6{
        width: 100% !important;
    }

    .necessaryFields{
        display: none;
    }

    .callBackSend{
        left: 50%;
        transform: translateX(-50%);
    }

    /*.tabs label{*/
        /*width: 100%;*/
        /*text-align: left;*/
        /*color: white;*/
        /*padding-left: 25px;*/
        /*padding-right: 25px;*/
    /*}*/

    /*.tabs input:checked + label{*/
        /*background: #adacac;*/
        /*border: none;*/
    /*}*/

    /*.tabs input:checked + label:after{*/
        /*content: url(../image/icons/chevron-tab-right.png);*/
        /*float: right;*/
    /*}*/

    /*.tabs input:not(:checked) + label{*/
        /*display: none;*/
    /*}*/

    .product-panel-group{
        display: block;
    }

    .tabs{
        display: none;
    }

    .product-panel-group{
        border: none;
        background: none;
        box-shadow: none;
        -webkit-box-shadow: none;
    }

    .product-panel-group .panel-default{
        border-radius: 0;
    }

    .product-panel-group .panel-default>.panel-heading{
        background-color: #adacac;
        border-radius: 0;
        padding: 15px;
    }

    .product-panel-group .panel-default>.panel-heading a:link,
    .product-panel-group .panel-default>.panel-heading a:visited,
    .product-panel-group .panel-default>.panel-heading a:active,
    .category-link{
        color: white;
        font-size: 12px;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .product-panel-group .panel-heading a:focus,
    .category-link:focus{
        text-decoration: none;
    }

    .panel-heading a:after {
        content: url(../image/icons/chevron-tab-right.png);
        float: right;
        cursor: pointer;
    }


    .product-panel-group .panel-body, .product-panel-group .panel-default{
        border: none;
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .product-panel-group .panel-body a:link,
    .product-panel-group .panel-body a:visited,
    .product-panel-group .panel-body a:active{
        color: black;
    }

    .product-panel-group .panel-collapse{
        padding: 15px 25px;
        background: #fff;
        font-size: 14px;
        color: rgb(27, 27, 27);
        font-family: "OpenSans";
        line-height: 22px;
    }

    .product-panel-group .panel-default > .panel-heading + .panel-collapse .panel-body{
        border: none;
    }


}