.categories{
    text-align: center;
    font-family: 'OpenSans';
    margin-top: 80px;
}

.categories .item{
    display: inline-block;
    width: 415px;
    height: 340px;
    position: relative;
}

.categories .item img{
    z-index: 1;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

.categories .item .image-background{
    background: rgba(0, 0, 0, 0.45);
    width: 415px;
    height: 340px;
    position: absolute;
    bottom: -1px;
    z-index: 2;
}

.categories .item .caption{
    z-index: 3;
    position: absolute;
    top: 85px;
    font-size: 14px;
    line-height: 18px;
    width: 415px;
    height: auto;
    text-align: center;
}

.categories .item .caption .catalog-name{
    color: #c49849;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: auto;
    width: 70%;
}

.categories .item .caption .description{
    color: #f4f4f4;
    font-weight: 400;
    padding-top: 15px;
    width: 80%;
    margin: auto;
}

.categories .item .button-area{
    z-index: 3;
    position: absolute;
    bottom: 87px;
    width: 415px;
    text-align: center;
}

.categories .item .button-area .btn-more{
    width: 270px;
    height: 50px;
    border: 2px solid #c49849;
    border-radius: 25px;
    background: none;
}

.categories .item .button-area .btn-more span{
    color: #c49849;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.categories .item .button-area .btn-more span
{
    line-height: 30px;
}

.categories .item .button-area .btn-more:hover{
    background-color: #c49849;
}

.categories .item .button-area .btn-more:focus{
    outline: none !important;
}

.categories .item .button-area .btn-more:hover span{
    color: #f4f4f4;
}

.categories ul li{
    width: auto;
    float: left;
}

.categories-jcarousel-wrapper {
    margin: 80px auto 0;
    position: relative;
    width: auto;
    height: 340px;
}

/** Carousel **/

.categories-jcarousel {
    position: relative;
    overflow: hidden;
    width: 1280px;
    margin: auto;

}

.categories-jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}


@media all and (max-width: 1279px) {
    #content{
        padding-right: 0;
    }

    .categories-jcarousel{
        width: 765px;
    }

    .categories .item{
        margin-right: 3px;
    }

    .categories .item, .categories .item .image-background, .categories .item img{
        width: 250px;
        height: 235px;
    }
    .categories .item .caption{
        top: 50px;
        width: 250px;
    }

    .categories .item .caption .catalog-name{
        width: 80%;
        letter-spacing: 1px;
    }

    .categories .item .caption .description{
        width: 90%;
        padding-top: 10px;
    }

    .categories .item .button-area{
        bottom: 30px;
        width: 250px;
    }

    .categories .item .button-area .btn-more{
        width: 216px;
        height: 40px;
    }

    .categories .item .button-area .btn-more span{
        font-size: 12px;
        line-height: 14px;
    }

    .categories .item .caption .catalog-name{
        font-size: 12px;
    }



}

@media all and (max-width: 767px) {

    .row{
        margin-left: 0;
        margin-right: 0;
    }

    #content{
        padding-left: 0;
    }

    .categories-jcarousel-wrapper {
        height: 240px;
    }

    .categories-jcarousel{
        width: auto;
    }


    /** Carousel Controls **/

    .categories-jcarousel-control-prev {
        height: 235px;
        width: 40px;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: 0;
        z-index: 4;
    }

    .categories-jcarousel-control-next {
        height: 235px;
        width: 40px;
        position: absolute;
        top: 0;
        margin-right: 0;
        z-index: 4;
        right: 0;
    }




}